
*.iso
*.ova
*.DS_Store
vars/rhsm_secrets.yml
files/.DS_Store
files/CentOS8/.DS_Store
.DS_Store
*.vib
files/pfsense/config.xml.bak01
files/AIQUM/ActiveIQUnifiedManager-9.8/ActiveIQUnifiedManager-9.8.ovf
files/VSC/netapp-unified-virtual-appliance-for-vsc-vp-sra-9.7.1P1-6743-20201214_0955/netapp-unified-virtual-appliance-for-vsc-vp-sra-9.7.1P1-6743-20201214_0955.ovf
files/StorageGRID-Webscale-11.5.0/vsphere/*
files/isilon/8.1.2.0/*
files/isilon/9.1.0.0/*
files/ONTAPSELECT_9141RC1.raw.tgz
files/9141RC1_q_image.tgz
files/ONTAPSELECT_9141RC1_UPGRADE.tgz
files/SELECTDEPLOY_9141RC1.tar.gz
files/Nested_ESXi8.0u1a_Appliance_Template_v1.ovf
files/14393.0.160715-1616.RS1_RELEASE_CLIENTENTERPRISEEVAL_OEMRET_X64FRE_EN-US.ISO
roles/build_from_iso_windows/files/Windows10eval/VMware_tools.exe
roles/build_from_iso_windows/files/Windows10eval/VMware-tools-10.3.5-10430147-x86_64.exe
roles/build_from_iso_windows/files/Server2012R2eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Windows10eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Windows7eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Server2012R2eval/VMware_tools.exe
roles/build_from_iso_windows/files/Windows7eval/VMware_tools.exe
files/9600.17050.WINBLUE_REFRESH.140317-1640_X64FRE_SERVER_EVAL_EN-US-IR3_SSS_X64FREE_EN-US_DV9.ISO
files/Windows_Server_2016_Datacenter_EVAL_en-us_14393_refresh.ISO
roles/build_from_iso_windows/files/Server2016eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Server2016eval/VMware_tools.exe
roles/build_from_iso_windows/files/Server2019eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Server2019eval/VMware_tools.exe
roles/build_from_iso_windows/files/Server2022eval/ConfigureRemotingForAnsible.ps1
roles/build_from_iso_windows/files/Server2022eval/VMware_tools.exe
