#version=RHEL9
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Use CDROM installation media
cdrom

%packages
@^graphical-server-environment
#@guest-agents

%end

# Run the Setup Agent on first boot
firstboot --disabled
eula --agreed

# Install to disk
ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York 

# Network information
network --onboot=yes --device=link --bootproto=dhcp --noipv6 --hostname=localhost.localdomain

# Root password
rootpw --iscrypted --allow-ssh $6$Axz5ggIBULJ.OUc4$aVGM6sbuPG0y.CaY6Mmn0WmBkZ3oNBVC5EWnZ.lxElbH.VWhgd5uhSsSEwTRc5hIHaWx47SfeZRJRxBCCgUD0/
user --groups=wheel --name=admin --password=$6$jmUEtSkTB43iefIx$Cd855qrOOIie1qY6tcsl8wGgHG7J8qbEL6BWWKglQ335qmzfEt6kVA.AJ7dHLpoGhLsAovqN0j1.SNCC/yb1/1 --iscrypted --gecos="admin"

# Completion Action
reboot

