- name: set password via guest exec
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  loop_control:
    pause: 5
  loop: 
    - "net user Administrator {{ vm_password_new }}"
  register: setpassword
  ignore_errors: true

- name: check PSVersion
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  loop_control:
    pause: 5
  loop: 
    - "$result=$(if($PSVersionTable.PSVersion.Major -lt 3){throw})"
  register: checkpsversion
  ignore_errors: true

- name: Set static IP address
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  ignore_errors: true
  loop_control:
    pause: 5
  loop: 
    - "new-netipaddress -InterfaceAlias Ethernet -IPAddress {{ vm_address }} -prefixlength {{vm_netmask_cidr}} -defaultgateway {{ vm_gateway }}"
    - "new-netipaddress -InterfaceAlias Ethernet0 -IPAddress {{ vm_address }} -prefixlength {{vm_netmask_cidr}} -defaultgateway {{ vm_gateway }}"

- name: Set DNS Server
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  ignore_errors: true
  loop_control:
    pause: 5
  loop: 
    - "Set-DnsClientServerAddress -InterfaceAlias Ethernet -ServerAddresses {{ vm_dns_server }}"
    - "Set-DnsClientServerAddress -InterfaceAlias Ethernet0 -ServerAddresses {{ vm_dns_server }}"

- name: Enable RDP
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  ignore_errors: true
  loop_control:
    pause: 5
  loop: 
    - "set-ItemProperty -Path 'HKLM:\\System\\CurrentControlSet\\Control\\Terminal Server' -name fDenyTSConnections -Value 0"
    - "Enable-NetFirewallRule -DisplayGroup 'Remote Desktop'"

- name: trancate and uppercase hostname
  set_fact:
    vm_hostname: '{{ vm_hostname|upper|truncate( 15, true, "", 0) }}'
  when:     
    - vm_hostname != ""  

- name: Rename Computer
  command:
    cmd: 'qm guest exec {{ create_vm.vmid }} -- "c:\windows\system32\windowspowershell\v1.0\powershell.exe" -command "({{item}})"'
  delegate_to: temp_host
  ignore_errors: true
  loop_control:
    pause: 5
  loop: 
    - "Rename-Computer -NewName {{ vm_hostname }}"

