---
- name: remove if absent or forced
  include_tasks: vmw_absent.yml
  when: state == "absent" or state == "force"

- name: Process vars
  include_tasks: process_vars.yml
  when: state == "present" or state == "force"

- name: upload install iso
  include_tasks: vmw_upload_install_iso.yml
  when: state == "present" or state == "force"

- name: download iso via esx
  include_tasks: vmw_download_via_esx.yml
  when: state == "present" or state == "force"

- name: create config iso
  include_tasks: vmw_create_config_iso.yml
  when: state == "present" or state == "force"

- name: Build CentOS VM - ansible
  include_tasks: vmw_build_vm.yml
  when: state == "present" or state == "force"

- name: Configure Guest
  include_tasks: vmw_configure_guest.yml
  when: state == "present" or state == "force"