---
# autoinstall ISO is preferred but not available for download
- name: Check if autoinstall ISO exists
  community.vmware.vsphere_file:
    hostname: '{{ vcenter_address }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: no
    datacenter: "{{vcenter_datacenter}}"
    datastore: "{{ iso_datastore }}"
    path: "{{ autoinstall_iso }}"
    state: file
  register: autoinstall_iso_exists
  delegate_to: localhost
  ignore_errors: true

- name: Copy autoinstall iso to datastore
  community.vmware.vsphere_copy:
    hostname: '{{ vcenter_address }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: no
    src: "{{ playbook_dir }}/files/{{install_iso}}"
    datacenter: "{{ vcenter_datacenter }}"
    datastore: "{{ iso_datastore }}"
    path: "{{ autoinstall_iso }}"
  delegate_to: localhost
  ignore_errors: true #if the playbook is being re-run while the vm is on, the iso cannot be replaced
  when: autoinstall_iso_exists.failed

- name: Check again if autoinstall ISO exists
  community.vmware.vsphere_file:
    hostname: '{{ vcenter_address }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: no
    datacenter: "{{vcenter_datacenter}}"
    datastore: "{{ iso_datastore }}"
    path: "{{ autoinstall_iso }}"
    state: file
  register: autoinstall_iso_exists2
  delegate_to: localhost
  ignore_errors: true

- name: Check if install ISO exists
  community.vmware.vsphere_file:
    hostname: '{{ vcenter_address }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: no
    datacenter: "{{vcenter_datacenter}}"
    datastore: "{{ iso_datastore }}"
    path: "{{ install_iso }}"
    state: file
  register: install_iso_exists
  delegate_to: localhost
  ignore_errors: true

- name: download ISO if necessary
  get_url:
    url: "{{ install_iso_url }}"
    dest: "{{ playbook_dir }}/files/{{install_iso}}"
    tmp_dest: "{{ playbook_dir }}/files/"
  delegate_to: localhost
  ignore_errors: true #if iso URL isn't valid then fail through to download via esx
  when: install_iso_exists.failed

- name: Copy install iso to datastore
  community.vmware.vsphere_copy:
    hostname: '{{ vcenter_address }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    validate_certs: no
    src: "{{ playbook_dir }}/files/{{install_iso}}"
    datacenter: "{{ vcenter_datacenter }}"
    datastore: "{{ iso_datastore }}"
    path: "{{ install_iso }}"
  delegate_to: localhost
  ignore_errors: true #if the playbook is being re-run while the vm is on, the iso cannot be replaced
  when: install_iso_exists.failed
