# Path to the Simulate ONTAP OVA File
version: "9.16.1"
ovf_version: "{{version}}"
ovf_file:    "{{ role_path }}/files/vsim-netapp-DOT{{ ovf_version }}-cm_nodar.ova"
# Host type
host_type: "vmw" # vmw | pve

# Checksum Type
checksum_type: "block" # block | zoned

# Default action is to create.  
state: "present"
force: no
console_muted: true
add_nodes_by_serial: ""

# default delays
node_setup_delay: 90      # seconds to wait after vmtools responds before starting node setup
cluster_setup_delay: 120  # seconds to wait between node setup and cluster setup
add_nodes_delay: 60       # seconds to wait between cluster setup and adding nodes

# vSphere Information
# vcenter_address: "vcenter.demo.lab"
# vcenter_username: "administrator@vsphere.local"
# vcenter_password: "ChangeMe2!"
# vcenter_datacenter: "Datacenter"
# vcenter_cluster: "Cluster"
# vm_datastore: "datastore1"
vcenter_address: ""

# ESX variables:
esxi_address: ""

# Proxmox Variables
pve_address: ""
pve_data_network: ""
pve_cluster_network: ""

# Virtual Machine configuration
vm_name:         "SimulateONTAP"
partner:         ""
partner_name:    ""
vm_num_cpus:     "2"
vm_memory_mb:    "8192"
vm_num_nics:     "4"
vm_disk_provisioning: thin
data_network:    "VM Network"
# if cluster network is unspecified, the cluster ports will be conneted to the data network
cluster_network: ""

# SYS_SERIAL_NUM must match available feature license keys
sys_serial_number:  "4082368-50-7"

# SYSID will be auto-generated if not specified
nvram_sysid: ''

# Type of simulated disk subsystem.  Only VHA is supported for now
disk_model: "vha"  # "vha", "vscsi"

# Virtual (simulated) Disk Devices to create during init
# type:qty:shelf,type:qty:shelf,type:qty:shelf,type:qty:shelf
# Shelves 0-3 may be populated
# Each shelf can contain up to 14 drives
# Usefull Disk Types by capacity include:
# |       | 15K | 7200 | SSD
# --------------------------
# | 100MB | 21  |  27  | 34
# | 500MB | 22  |  28  | 35
# | 1GB   | 23  |  29  | --
# | 2GB   | 30  |  32  | --
# | 4GB   | 31  |  33  | --
# | 9GB   | 36  |  37  | --
# Examples:
# vdevinit: "23:14:0,23:14:1" # 28x1gb disks (ova internal default)
# vdevinit: "23:14:0,23:14:1,23:14:2,23:14:3" # 56x1gb disks
# vdevinit: "23:14:0,23:14:1,32:14:2,34:14:3" # (28x1gb 15k+14x2gb 7.2k+14x100mb SSD) - hybrid config
vdevinit: "31:14:0,31:14:1" # (28x4gb 15k)
# vdevinit: "31:14:0,31:14:1,31:14:2,31:14:3" # (56x4gb 15k)

# Node Setup (optional)
ontap_node_mgmt_ip: ""
ontap_netmask:      ""
ontap_gateway:      ""

# Cluster Name (optional)
# if not specified the vm_name will be used
# ontap_cluster_name: "SimulateONTAP"
# Cluster Setup (optional)
ontap_password:         "netapp123"
ontap_cluster_mgmt_ip:  ""
ontap_dns_domain:       "" 
ontap_dns_server:       ""
ontap_location:         ""

#Timers 
boot_delay: 10

# translation tables for VHA disks
# mapping common values to closest matching disk type
size_table: {
  '0' : '',
  '500': '35',
  '1000': '23',
  '1024': '23',
  '2000': '30',
  '2048': '30',
  '4000': '31',
  '4096': '31',
  '8000': '36',
  '8192': '36', 
  '9000': '36',
  '9216': '36'
}
type_table: {
  '0' : '',
  '35': '500',
  '23': '1000',
  '30': '2000',
  '31': '4000',
  '36': '9000'      
    }
  
  